<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Tech Labber is a simple clone of a popular social networking website. The opinions expressed here are not guaranteed to be entertaining and do not necessarily reflect the official policy or position of any organization that exists currently, in the past, or the future.
</p>